* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: grey;
}
a {
  text-decoration: inherit;
  color: inherit;
}
.app {
  min-height: 100.5vh;
  border: 10px solid rgb(156, 142, 142);
  margin: 8px;
  padding: 5px;
}
